{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>htmx</title>
    <script 
        src="https://unpkg.com/htmx.org@2.0.3" 
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" 
        crossorigin="anonymous">
    </script>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
        <rect x="7" y="8" width="10" height="12" rx="1" ry="1" />
        <rect x="5" y="5" width="14" height="2" />
        <line x1="9" y1="10" x2="9" y2="18" stroke="currentColor" stroke-width="1.5"/>
        <line x1="12" y1="10" x2="12" y2="18" stroke="currentColor" stroke-width="1.5"/>
        <line x1="15" y1="10" x2="15" y2="18" stroke="currentColor" stroke-width="1.5"/>
        <line x1="10" y1="4" x2="14" y2="4" stroke="currentColor" stroke-width="1.5"/>
    </svg>
    {{ template "form" .FormData }}
    <hr>
    {{ template "display" .PageData }}
    <script>
        document.addEventListener("DOMContentLoaded", event => {
            document.body.addEventListener("htmx:beforeSwap", evt => {
                if (evt.detail.xhr.status == 422) {
                    evt.detail.shouldSwap = true
                    evt.detail.isError = false
                }
            })
        })
    </script>
</body>
</html>
{{ end }}

{{ block "form" . }}
    <form hx-swap="outerHTML" hx-post="/contacts">
        name: <input type="text" name="name" {{ if .Values.name }} value="{{ .Values.name }}" {{ end }}/>
        email: <input type="text" name="email" {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} />
        {{ if .Errors.email }}
            <div style="color: red">{{ .Errors.email }}</div>
        {{ end }}
        <button type="submit">Create Contact</button>
    </form>
{{ end }}

{{ block "display" . }}
    <div id="contacts" style="display: flex; flex-direction: column;">
        {{ range .Contacts }}
            {{ template "contact" . }}
        {{ end }}
    </div>
{{ end }}

{{ block "contact" . }}
    <div>
        Name: <span>{{ .Name }}</span>
        Email: <span>{{ .Email }}</span>
    </div>
{{ end }}

{{ block "oob-contact" . }}
    <div id="contacts" hx-swap-oob="afterbegin">
        {{ template "contact" . }}
    </div>
{{ end }}